extends common/layout 

block layout-content
    h1.page-title About Us 
    h2.home-pg-title Welcome to MODL Divine – Where Elegance Meets Style!

    br

    div.about-container 
    p.about-us-content MODL Divine is not just a store; it's an experience. We believe that every woman deserves to feel confident, beautiful, and empowered. Our passion for fashion led us to curate a collection of dresses that embody sophistication, versatility, and a touch of divine charm.
    p.about-us-content At MODL Divine, we understand the importance of expressing your unique style. Whether you're attending a special event, celebrating a milestone, or simply looking to elevate your everyday wardrobe, we have the perfect dress for every occasion. Our carefully curated selection showcases a fusion of modern trends and timeless classics, ensuring you'll find something that speaks to your individuality.

    div.about-container 
    h3.aboutUs-sub-header Why MODL Divine?
    li Quality Craftsmanship: We prioritize quality in every stitch, ensuring that each dress is crafted with precision and attention to detail. Our commitment to excellence guarantees garments that not only look stunning but also stand the test of time.
    li Diverse Styles for Every Woman: We celebrate diversity and believe that fashion should be inclusive. Our collection includes a wide range of styles, sizes, and silhouettes to cater to the unique beauty of every woman.
    li Affordable Luxury: MODL Divine believes that luxury should be accessible. Our dresses are priced competitively, allowing you to indulge in the glamour and sophistication without breaking the bank.
    li Fashion-forward Selection: Stay ahead of the fashion curve with our ever-evolving selection. MODL Divine constantly updates its inventory to reflect the latest trends, ensuring you're always in vogue.
    li Customer-Centric Approach: Your satisfaction is our top priority. Our customer service team is dedicated to providing assistance, answering queries, and ensuring your shopping experience is nothing short of divine.
    li Secure Shopping Experience: Shop with confidence knowing that MODL Divine employs state-of-the-art security measures to protect your personal information. Your privacy and security are of utmost importance to us.

    div.about-container
    p.about-us-content Thank you for choosing MODL Divine as your go-to destination for all things elegant and stylish. We invite you to explore our collection, embrace your uniqueness, and discover the perfect dress that reflects the divine essence within you.