extends common/layout 

block layout-content
    h1.page-title Dresses 
    //- h2.home-pg-title Checkout our new products!

    div.products.row  
      div.col-md-4 
        img(src="/img/pexels-antonio-castillo-15253747.jpg", class="img-fluid")
        p.product-prize $130.99 - Flower Pink Gown   
        //- https://www.pexels.com/photo/young-beautiful-woman-in-a-pink-dress-15253747/
      div.col-md-4 
        img(src="/img/pexels-luis-gonzalez-16497415.jpg", class="img-fluid")
        p.product-prize $150.99 - Black Sequin Dress  
        //- https://www.pexels.com/photo/young-woman-in-a-black-dress-posing-in-a-park-16497415/
      div.col-md-4 
        img(src="/img/pexels-worod-fashion-15752074.jpg", class="img-fluid")
        p.product-prize $125.99 - Greyish Brown Dress
        //- https://www.pexels.com/photo/young-brunette-in-an-elegant-dress-posing-outdoors-15752074/
    
    div.products.row  
      div.col-md-4 
        img(src="/img/pexels-mohamed-almari-2168979.jpg", class="img-fluid")
        p.product-prize $145.99 - Red Sleevless Sequin Dress   
        //- https://www.pexels.com/photo/woman-in-red-sleeveless-dress-2168979/
      div.col-md-4 
        img(src="/img/pexels-naim-benjelloun-2752192.jpg", class="img-fluid")
        p.product-prize $150.99 - Grey Elegant Gown 
        //- https://www.pexels.com/photo/woman-wearing-red-dress-2752192/
      div.col-md-4 
        img(src="/img/pexels-nektaria-kleopoulos-16752697.jpg", class="img-fluid")
        p.product-prize $110.99 - Red Satin Dress 
        //- https://www.pexels.com/photo/young-elegant-woman-in-a-dress-posing-by-the-water-16752697/