extends common/layout 

block layout-content
    h1.page-title Welcome to MODL Divine
    br
    h2.home-pg-title Checkout our NEW ARRIVALS!
    br
    
    div.products.row  
      div.col-md-4 
        img(src="/img/pexels-antonio-castillo-15253747.jpg", class="img-fluid")
        p.product-prize $130.99 - Flower Pink Dress    
        //- https://www.pexels.com/photo/young-beautiful-woman-in-a-pink-dress-15253747/
      div.col-md-4 
        img(src="/img/pexels-luis-gonzalez-16497415.jpg", class="img-fluid")
        p.product-prize $150.99 - Black Sequin Dress 
        //- https://www.pexels.com/photo/young-woman-in-a-black-dress-posing-in-a-park-16497415/
      div.col-md-4 
        img(src="/img/pexels-worod-fashion-15752074.jpg", class="img-fluid")
        p.product-prize $125.99 - Greyish Brown Dress
        //- https://www.pexels.com/photo/young-brunette-in-an-elegant-dress-posing-outdoors-15752074/
    
    h3.text-center 
      a(href="dresses") See more dresses here! 
      